// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 投稿一覧ページ
// 検索フォーム
.search {
  margin: 10px 10px;
}
.search-form {
  display: flex;
  justify-content: center;
}
.search-title {
  padding-right: 2px;
}
.search-cast {
  padding-right: 2px;
}
// 投稿、タグリスト
.post-index {
  .post-n-tag {
    display: flex;
    margin-top: 20px;
  }
  .post_lists {
    margin-left: 2%;
    flex: 5;
  }
  .tag_side {
    margin-right: 100px;
    flex: 1;
  }
}

// タグリスト
@media (orientation: portrait) {
  .tag_side {
    display: none;
  }
}
.tag_bottom {
  margin: 5% 10%;
}
// 投稿スタイル
.post-frame { 
  box-shadow: 0px 0px 5px;
  border: 2px solid paleturquoise;
  width: 80%;
  margin: 20px 0 20px 10%;
  padding: 10px;
  a {
    text-decoration: none;
  }
  .user {
    display: flex;
  }
  .user-name {
    padding: 5px 5px 0 5px;
  }
  .user-icon {
    border-radius: 50%;
  }
}
@media (orientation: landscape) {
  .post-index {
    .post-frame {
      width: 40%;
      margin: 0 10px 20px 10px;
    }
    .tag_bottom {
      display: none;
    }
    .post_lists {
      display: flex;
      flex-wrap: wrap;
      margin-left: 50px;
    }
  }
}
.field_with_errors { 
  display: contents;
}
// ページネーション
.pagenation{
  li{
    a {
      border: none;
      color: #696969;
    }
    a:hover {
      border-radius: 15px;
    }
  }
  .active {
    a {
      background: #93c9ff;
      border-radius: 15px;
    }
  }
}
.pagination {
  justify-content: center;
}
// アイコン
.fa-yellow {
  color: #ffa500;
  a {
    color: #ffa500;
  }
}
.comment-icon-color {
  color: gray;
}
// 投稿ボタン
.post-btn {
  position: fixed;
  bottom: 2%;
  right: 2%;
  padding: 10px 0 10px 0;
}
.post-btn a {
  display: block; 
  text-decoration: none;
}
.post-btn a:hover {
  opacity: 0.8;
}
// 投稿詳細ページ
.post-show {
  width: 100%;
}
